input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  margin: -8px 0 0 0;
}

input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  margin-top: -8px;
}
input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
}

input[type=range] + .thumb {
  opacity:0;
}
